@model civilsalary.web.Models.StatisticsDetailModel

@{
    ViewBag.Title = Model.Department.Name;
}

<div>
    <div>
        <span>Name</span>
        <span data-bind="text: Name"></span>
    </div>
    <div>
        <span>Employees</span>
        <span data-bind="text: EmployeeCount"></span>
    </div>
    <table>
        <thead>
            <th>&nbsp;</th>
            <th>Total</th>
            <th>Maximum</th>
            <th>Average</th>
            <th>Median</th>
            <th>Minimum</th>
        </thead>
        <tbody>
            <tr>
                <td>Salary</td>
                <td data-bind="text: SalarySum"></td>
                <td data-bind="text: SalaryMax"></td>
                <td data-bind="text: SalaryAvg"></td>
                <td data-bind="text: SalaryMed"></td>
                <td data-bind="text: SalaryMin"></td>
            </tr>
            <tr>
                <td>Gross Pay</td>
                <td data-bind="text: GrossPaySum"></td>
                <td data-bind="text: GrossPayMax"></td>
                <td data-bind="text: GrossPayAvg"></td>
                <td data-bind="text: GrossPayMed"></td>
                <td data-bind="text: GrossPayMin"></td>
            </tr>
        </tbody>
    </table>
</div>

@section ScriptContent 
{
    <script src="https://www.google.com/jsapi"></script>
    <script>
        google.load("visualization", "1", { packages: ['corechart'] });
        google.setOnLoadCallback(function () {
            var query = new google.visualization.Query('/statistics/data/tree');
            var treeDataTable;

            query.send(function (response) {
                treeDataTable = response.getDataTable();

                var tree = new google.visualization.TreeMap($('#tree')[0]);
                tree.draw(treeDataTable, {
                    headerHeight: 20,
                    fontColor: 'black',
                    showScale: true
                });
            });
        });
    </script>
}
