<?xml version="1.0"?>
<configuration>
  <startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
  <connectionStrings>
    <!-- <add name="CivilSalaryData" connectionString="DefaultEndpointsProtocol=https;AccountName=civilsalary;AccountKey=SlONdXBhJe8HbZ2fTH6WsvvjYC2r0tpdzGG2vCLWHoPnHKlkaV1MP1AlTO4zIFImJ4Y45+5R4J74aOX2BQkNEA=="/> -->
    <!-- ;DevelopmentStorageProxyUri=http://ipv4.fiddler -->
      <add name="CivilSalaryData" connectionString="UseDevelopmentStorage=true"/>
  </connectionStrings>
</configuration>
